In [ ]:
def nama_function (parameter):
  '''
  docstrings = keterangan

  '''
  #body 
  print()
  return

In [ ]:
def cetak (nama):
  print(f'saya adalah {nama}')

In [ ]:
cetak('rachman')

saya adalah rachman

In [ ]:
def cetak (nama,pekerjaan):
  print(f'saya adalah {nama} sebagai {pekerjaan}')

In [ ]:
cetak(pekerjaan='pengajar',nama='rachman')

saya adalah rachman sebagai pengajar

In [ ]:
a = 'rachman'
b = 'pengajar'

cetak(pekerjaan = a,nama = b)

saya adalah pengajar sebagai rachman

In [ ]:
def tambah (x,y):
  hasil = x+y
  return hasil

In [ ]:
tambah(5,5)

10

In [ ]:
x = tambah(5,4)

In [ ]:
mylist = [10,20,30]

In [ ]:
def rubahlist (number):
  mylist = number + [1,2,3]
  return mylist

In [ ]:
rubahlist([30,20,10])

[30, 20, 10, 1, 2, 3]

In [ ]:
mylist = rubahlist([30,20,10])

In [ ]:
mylist

[30, 20, 10, 1, 2, 3]

In [ ]:
x = 5 + tambah(10,5)

In [ ]:
def berhitung (x,y):
  tambah = x+y
  kurang = x-y
  bagi = x/y
  kali = x*y
  return tambah,kurang,bagi,kali

In [ ]:
a,b,c,d = berhitung(10,5)
print(a)
print(b)
print(c)
print(d)

15
5
2.0
50

In [ ]:
type(a)

int

In [ ]:
a = 50

In [ ]:
x = int(input('Masukkan x: '))
print('x adalah bilangan', 'genap' if (x % 2 == 0) else 'ganjil')

In [ ]:
def modulus(number):
    if number % 2 == 0:
        print(f'{number} genap')
    else:
        print(f'{number} ganjil')

a = int(input('Masukkan Angka : '))
print(modulus(a))

Masukkan Angka : 50
50 genap
None

In [ ]:
a = input('masukan kata-kata hacktiv8 ')

masukan kata-kata hacktiv8 Hacktiv8

In [ ]:
def deteksi_kata(a):
    if a in "hacktiv8":
        p = print(True)
    else:
        p = print(False)
    return p

In [ ]:
deteksi_kata(a)

False

In [ ]:
def deteksi_kata(kata):
  return 'hacktiv8' == kata

In [ ]:
deteksi_kata('HACKTIV8')

True

In [ ]:
def tambah (x,y,z,a):
  hasil = x+y+z+a
  return hasil

In [ ]:
def tambah(*args):
  return sum(args)

In [ ]:
tambah(1,2,2,1,1,1,1,12,2,2,5)

30

In [ ]:
def pendaftaran (data,**kwargs):
  print(data)
  for key,value in kwargs.items():
    print(f'pendaftaran an {key}')
    print(f'tujuan keberangkatan {value}')

In [ ]:
pendaftaran (3,bamabang='makasar',anto='jakarta',bima='surabaya')

3
pendaftaran an bamabang
tujuan keberangkatan makasar
pendaftaran an anto
tujuan keberangkatan jakarta
pendaftaran an bima
tujuan keberangkatan surabaya

<img src = 'https://openaccesspub.org/article/926/images/image1.jpg'>

In [ ]:
def bmi_calculator(nama,berat,tinggi):
  bmi = berat/tinggi**2
  if bmi < 18.5:
    print(f'{nama} score bmi anda adalah {bmi} anda underweight')
  elif bmi >= 18.5 and bmi <=24.9:
    print(f'{nama} score bmi anda adalah {bmi} anda normal')
  else:
    print(f'{nama} score bmi anda adalah {bmi} anda overweight')

In [ ]:
def BMI(weight,height):
    BMI_formula = weight / (height**2)
    if BMI_formula > 0:
        if BMI_formula < 18.5:
            return print(f"BMI anda = {BMI_formula} masuk dalam kategori underweight")
        elif 18.5<=BMI_formula<= 24.9:
            return print(f"BMI anda = {BMI_formula} masuk dalam kategori normal")
        elif 25<=BMI_formula<= 29.9:
            return print(f"BMI anda = {BMI_formula} masuk dalam kategori overweight")
        else:
            return print(f"BMI anda = {BMI_formula} masuk dalam kategori very overweight")

In [ ]:
w = float(input("Masukan berat badan (kg): "))
h = float(input("Masukan tinggi badan (cm): "))
h *= 0.01

def bmi(w, h):
    calc = w/(h*h)
    print(f"BMI anda adalah {calc}!")

bmi(w,h)

Masukan berat badan (kg): 50
Masukan tinggi badan (cm): 180
BMI anda adalah 15.432098765432098!

In [ ]:
berat = eval(input("Berat badan(kg): "))
tinggi = eval(input("Tinggi badan(cm): "))
tinggi = tinggi/100

def kalkulator_BMI(berat, tinggi):
    BMI = berat / tinggi**2
    if BMI < 18.5:
        return f"BMI: {BMI}, Underweight"
    elif 18.5 <= BMI <= 24.9:
        return f"BMI: {BMI}, Normal"
    elif 25.0 <= BMI <= 29.9:
        return f"BMI: {np.round_(BMI,2)}, Overweight"
    elif BMI >= 30:
        return f"BMI: {BMI}, Obese"

print(kalkulator_BMI(berat, tinggi))

Berat badan(kg): 50
Tinggi badan(cm): 1.8
BMI: 154320.98765432095, Obese